@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

input,
textarea,
select {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}
